*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: rgb(24, 25, 26);
}


.cuerpo{
    background-image: url(./inicio.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titulo{
    position: absolute;
    margin-left: 500px;
    text-align: center;
    width: 50%;
    font-size: 50px;
    color: lightblue;
}
body{
    background-image: url(./fondo.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
table{
    background-image: url(3.jpg);
    border: 20px;
    margin-left: 30%;
    border-collapse: collapse;
    border: rgb(14, 10, 10) 5px solid;
    margin: 15px;
    padding: 15px;
    background: rgb(103, 191, 202);
    

}
h2{
    text-size-adjust: 40px;
    text-align: center;
}
input, textarea{
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}
tr{
   
    margin: 15px;
    padding: 15px;
}
td{
    border: rgb(14, 10, 10) 1px solid;
    margin: 15px;
    padding: 15px;
    text-decoration-color: rgb(240, 248, 255);
}

.login{
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 2%;
    margin-left: 0px;
    height: 50px;
    width: 200px;
    background-color: rgb(0, 0, 0, .3);
    text-align: left;
    padding: 15px 30px;
}
.login nav ul a{
    text-decoration: none;
    padding-right: 10px;
    font-size: 17px;
    font-weight: 900;
   
}
.login nav ul a:hover{
    color: lightblue;
}
.a{
    color: #000;
    text-decoration: none;
    font-size: 20px;
}
.a:hover{
    color: lightblue;
    
}

section{
    border-radius: 15px;
    margin-top: 2%;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 2%;
    height: auto;
    background-color: rgba(185, 176, 176, 1);
    text-align: left;
    padding: 10px;
  
}
button{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;

}
form h3{
    text-align: left;
}
form{
    margin-top: 1px;
}
.boton{
    padding: 5px;
    width: 60%;
    
}

.busqueda{
    width: 500px;
}
.control{
    text-align: right;
}

.control button{
    
    text-decoration: none;
    width: 200px;
    padding: 10px 10px;
}
.control button a{
    font-weight: bolder;
    color: #000;
    text-decoration: none;
}
.control button a:hover{
    color:rgb(103, 191, 202)
}
